body {
  font-family: Monospace;
  background-color: #000;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100%;
  background: #000;
}

.leva-c-kWgxhW {
  width: 315px;
}

.leva-c-iSkYoW label {
  word-wrap: break-word;
}

@media screen and (max-width: 576px) {
  .leva-c-kWgxhW {
    width: 200px;
  }

  .leva-c-bduird {
    flex-direction: column;
    display: flex;
    align-items: stretch;
  }
}